body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Instagram-post1 {
    background: white;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
#usuario1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usuario-info {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
}
.fa-ellipsis-vertical{
  margin-right: 30px;
  font-size: 22px;
}
.usuario-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
#foto1 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.post-body-icons{
  display: flex;
  gap: 15px;
  font-size: 22px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}
.fa-bookmark{
  margin-left: auto;
}
.post-body-likes,
.post-body-text{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  margin-left: 10px;
}